
<div class="container-fluid padding">
  <div class="row welcome text-center padding">
    <div class="col-12">
      <h2 id="welcome-home" class="display-4">WELCOME TO</h2>
      <h1 id="inkt" class="display-2">INKT</h1>
      <hr id="line">
    </div>

    <div class="col-12">
      <div class="lead">
      <p class="main-p">Whether you're a tattoo newbie or a professional tattoo aritst,being part of our community will be an invaluable source of inspiration for your next tattoo.It also let people connect and get some advise.It's the place to find talents and chat with enthusiasts and artists worldwide.Click the sign up button to join. </p>
    </div>
  </div>
  </div>


    <div class="row justify-content-center">
      <div class="col col-auto ">
        <%=  link_to "Sign up", new_user_path, :class => 'btn btn-primary btn-lg' unless @current_user.present? %>
      </div>
    </div>

  </div>
