<h2>WELCOME TO</h2>
<h1>INKT</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<div>
    <%= link_to 'Sign up!', new_user_path %>
    <%= link_to 'Sign in!', login_path %>
</div>
