

<h2>All posts</h2>

<% @posts.each do |post| %>
<% next unless post.user.present? %>
<div>
  <%= link_to cl_image_tag(post.img, :class => 'thumb', :alt => post.content, :width=>200, :height=>200, :crop=>"scale"), post if post.img.present? %>
</div>
<%= cl_image_tag post.user.img, :width=>30, :height=>30, :radius=>"max" if post.user.img.present? %>
<%= link_to post.user.name, post.user %>
<p><%= link_to post.content, post if post.content.present? %></p>
<% end %>
