// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-profile-pic {
  border-radius: 50%;
}
.btn-outline-secondary {
  background-color: #c0bbec;
  border: 1px solid #c0bbec;
}
.btn-outline-secondary:hover {
  background-color: #7e76c5;
  border: 1px solid #7e76c5;
}
